@model ScriptSquadWebbshop.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Order Id
        </dt>
        <dd class="col-sm-10">
            @Model.OrderId
        </dd>
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.User.FirstName @Model.User.LastName
        </dd>
         <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Model.User.Address
        </dd>
         <dt class="col-sm-2">
            City
        </dt>
        <dd class="col-sm-10">
            @Model.User.City
        </dd>
         <dt class="col-sm-2">
            Zip Code
        </dt>
        <dd class="col-sm-10">
            @Model.User.ZipCode
        </dd>
    </dl>
        
            <h2>Products</h2>
            <table class="table">
        <tbody>
            <thead>
            <th>Product</th>
            <th>Amount</th>
            <th>Price</th>
            </thead>
            @{
                float totalPrice = 0;
            }
            @foreach (var productOrder in Model.ProductOrders)
            {
                var subtotal = productOrder.Product.Price * productOrder.Amount;
                totalPrice += subtotal;
                <tr>
                <td>@productOrder.Product.ProductName</td>
                <td>@productOrder.Amount st</td>
                <td>@productOrder.Product.Price kr/st</td>
                </tr>
            }
            <tr>
                <td colspan="3" class="text-right"><strong>Total Price: @totalPrice.ToString("C")</strong></td>
            </tr>
        </tbody>
        </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
