@model ScriptSquadWebbshop.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FkUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FkUserId)
        </dd>
        
        <tbody>
    
            <h2>Products</h2>
            @{
                float totalPrice = 0;
            }
            @foreach (var productOrder in Model.ProductOrders)
            {
                var subtotal = productOrder.Product.Price * productOrder.Amount;
                totalPrice += subtotal;
                <td>@productOrder.Product.ProductName</td>
                <td>@productOrder.Amount st</td>
                <td>@productOrder.Product.Price kr/st</td>
            }
            <tr>
                <td colspan="3" class="text-right"><strong>Total Price:</strong></td>
                <td><strong>@totalPrice.ToString("C")</strong></td>
            </tr>
        </tbody>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
