@model ShoppingCartViewModel
<h1>Varukorg</h1>
<h3 class="text">@(ViewBag.CartMessage)</h3>
<table class="table">
	<thead>
		<tr>
			<th>Produkt</th>
			<th>Pris</th>
			<th>Antal</th>
			<th>Summa</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.CartItems)
		{
			<tr>
				<td>@(item.Product != null ? item.Product.ProductName : "N/A")</td>
				<td>@(item.Product != null ? item.Product.Price.ToString("C") : "N/A")</td>
				<td>@item.Quantity</td>
				<td>@(item.Product != null ? (item.Product.Price * item.Quantity).ToString("C") : "N/A")</td>
				<input type ="hidden" value="@item.Product.ProductId" />
				<td>
					<a asp-controller="ShoppingCart" asp-action="RemoveItem" asp-route-id="@item.Product.ProductId" class="cart-custom-btn">Ta bort</a>
				</td>
			</tr>
		}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>Total Summa:</td>
			<td>@Model.TotalPrice?.ToString("C")</td>
			<td></td>
		</tr>
	</tbody>
</table>
<a class="cart-custom-btn" asp-controller="ShoppingCart" asp-action="PurchaseItems">Slutför köp</a>

<div style="margin-bottom: 30px;"></div>

<a class="welcome-page" href="/">
	<img src="~/images/logoscript1.png" alt="Logo" class="welcome" />
</a>