@model IEnumerable<ScriptSquadWebbshop.Models.ProductOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FkProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FkProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkOrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
